<div class="panel panel-default">
    <div class="panel-heading"><strong><h3><i class="fas fa-external-link-alt"></i>  PhrasesTerms</h3></strong></div>
    <%= render 'form', phrases_term: @phrases_term %>
  </div>
</div>
