<div class="panel panel-default">
    <div class="panel-heading"><strong><h3><i class="fas fa-external-link-alt"></i>  PhrasesTerms</h3></strong></div>
    <div class="panel-heading">
      <h1>Term:</h1><h3><%= @term.word %></h3>
    </div>
    <%= render 'form', phrases_term: @phrases_term %>
  </div>
</div>
